.challenges-container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .all-challenges {
    width: 70%; /* 80% širine za izazove */
    padding: 20px;
    border-radius: 12px;
    background-color: #FEF9E1; /* Svetla pozadina */
  }
  
  .joined-challenges {
    width: 28%; /* 20% širine za prijavljene izazove */
    padding: 20px;
    border-radius: 12px;
    background-color: #FEF9E1; /* Svetla pozadina */
  }
  
  .all-challenges h2, 
  .joined-challenges h2 {
    font-size: 1.5rem;
    color: #C14600; /* Narandžasta boja */
    margin-bottom: 15px;
  }
  
  .challenge-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 kolone za izazove */
    gap: 30px; /* Veći razmak između kartica */
  }
  
  .challenge-card {
    background: linear-gradient(145deg, #FF9D23, #E5D0AC); /* Gradient za kartice */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px; /* Visina kartice */
    color: #fff; /* Tekst u beloj boji */
  }
  
  .challenge-card:hover {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25); /* Senka pri hoveru */
    transform: translateY(-10px); /* Efekat podizanja kartice */
  }
  
  .challenge-card h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .challenge-card p {
    flex-grow: 1; /* Popunjava preostali prostor */
    font-size: 0.95rem;
  }
  
  .join-button {
    margin-top: auto;
    padding: 12px 24px;
    background-color: #C14600;
    color: white;
    border: none;
    border-radius: 25px; /* Zaobljeni ivici dugmeta */
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .join-button:hover {
    background-color: #FF9D23;
    transform: scale(1.05); /* Efekat povećanja dugmeta */
  }
  
  .joined-challenges ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .joined-challenges li {
    background-color: #E5D0AC;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }
  
  .leave-button {
    padding: 10px 20px;
    background-color: #FF9D23;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .leave-button:hover {
    background-color: #C14600;
    transform: scale(1.05); /* Efekat povećanja dugmeta */
  }
  

  .join-button.disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    opacity: 0.7;
  }