body {
    font-family: Arial, sans-serif;
    background-color: #FEF9E1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1 {
    text-align: center;
  }
  
  h1, .feed, .post, .comment-section, .running-plan-card {
    margin-bottom: 2rem;
  }
  

  /* Sakrij Navbar na Login i Register stranici */
.hide-navbar {
    display: none;
  }
  
  .auth-container {
    background: #E5D0AC;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .auth-container h2 {
    margin-bottom: 1rem;
  }
  
  .auth-container form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-container input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .auth-container button {
    background: #FF9D23;
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .auth-container span {
    color: #C14600;
    cursor: pointer;
  }

  .auth-container button:hover {
    background: #0056b3;
  }
  
  .auth-container span:hover {
    text-decoration: underline;
  }
  
  .auth-container input {
    margin-bottom: 1.5rem; /* Povećaj razmak između input polja */
  }
  
  .auth-container button {
    margin-top: 1rem; /* Dodaj razmak između input polja i dugmeta */
  }
  
  .auth-container {
    max-width: 400px; /* Postavi maksimalnu širinu za formu */
    width: 100%;
  }
  
  @media (max-width: 600px) {
    .auth-container {
      padding: 1rem;
    }
  
    .auth-container input,
    .auth-container button {
      padding: 0.5rem;
    }
  }

  .auth-container button {
    transition: background-color 0.3s ease;
  }
  
  .auth-container span {
    transition: color 0.3s ease;
  }
  
  .auth-container .error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 1rem;
  }
  
  